.button {
    padding: 8px 35px; 
    background: transparent;
    background-color: $mainTextColor; 
    border: 2px solid $mainTextColor; 
    border-radius: 20px;  /* закругление рамки */
    color: #ffffff; 
    outline: none;  /* убераем заводскую рамку при клике на кнопку */
    cursor: pointer; /* при навидении меняется курсор */
    font-size: 12px; /* текст в нутри */
    font-weight: bold; /* жирный текст */
    

}

.button-nav {
    cursor: pointer;
    border: 0;
    background-color:#ffffff;
    color: $secondColor;
    font-weight:bold;
}

.button-close {
    background-color:$secondColor;
    color: #ffffff;
    position: relative;
    left: 90%;
    border-radius: 50%;
    border: 0;
}